<ion-view view-title="{{buildingname}}">
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				EVENTS<i style="float:right" class="icon ion-chevron-right"></i>
			</div>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<div class="item item-divider">
				NOTIFICATIONS<i style="float:right" class="ion-chevron-right"></i>
			</div>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<div class="item item-divider">
				COLLABORATE<i style="float:right" class="ion-chevron-right"></i>
			</div>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
			<a class="item" href="#">
			  Butterfinger
			</a>
		</div>
	</ion-content>
</ion-view>