<ion-view view-title="{{myTitle}}">
  <ion-content>
    <div>
        <button ng-click="login()" class="button button-block button-balanced">Oauth Sign In</button>
        <p>
            Clicking the above button will initiate an official browser sign in flow with Facebook.  You
            will be redirected to the Facebook website to enter your credentials.
        </p>
    </div>
    <div class="list">
        <a class="item" href="#" onclick="window.open('http://www.nraboy.com/contact', '_system', 'location=yes'); return false;">
            Open a Browser
        </a>
        <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
            Open a Twitter Client or Browser
        </a>
        <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
            Open a Google+ Client or Browser
        </a>
    </div>
    </ion-content>
</ion-view>